html{
    height: 100%;
}
body{

    background-color: #2d3436;
background-image: linear-gradient(315deg, #5d5b2e 0%, #000000 74%);

}
.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
header{
    color: rgb(228, 198, 99);
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    border-bottom: 0.6px solid rgb(224, 190, 125);
    font-family: 'Times New Roman', Times, serif;

}
header a{
    text-decoration: none;
    color: rgb(228, 198, 99);
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxes{
    width:28%;
    height:200px;
    /* background-color: chartreuse; */
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.box1{
    background: url(pics/edu.jpg);
    background-position: bottom-left;
    text-align: center;
    color: rgb(248, 240, 7);
    text-shadow: 0 0 3px #000000, 0 0 5px #ffee00;
    padding: 8px 15px;
}
.box2{
    background-image: url(pics/top-10-fiction-2019.jpg);
    background-size: cover;
    text-align: center;
    color: rgb(248, 240, 7);
    text-shadow:0 0 3px #000000, 0 0 5px #ffee00;
    padding: 8px 15px;
}
.box3{
    background-image: url(pics/self\ help.jpg);
    background-size: cover;
    text-align: center;
    color: rgb(248, 240, 7);
    text-shadow: 0 0 3px #000000, 0 0 5px #ffee00;
    padding: 8px 15px;

}
.box4{
    background-image: url(pics/religious.jpg);
    background-size: cover;
    text-align: center;
    color: rgb(248, 240, 7);
    text-shadow: 0 0 3px #000000, 0 0 5px #ffee00;
    padding: 8px 15px;

}
.box5{
    background-image: url(pics/bio.png);
    background-size: cover;
    text-align: center;
    color: rgb(248, 240, 7);
    text-shadow: 0 0 3px #000000, 0 0 5px #ffee00;
    padding: 8px 15px;

}
.box6{
    background-image: url(pics/stationery.jpg);
    background-size: cover;
    text-align: center;
    color: rgb(248, 240, 7);
    text-shadow: 0 0 3px #000000, 0 0 5px #ffee00;
    padding: 8px 15px;

}
.boxes p{
    color: #aea804;
}
.name h1{
    font-size: 40px;
    border-style: double;
    border-radius: 2px;
    padding: 5px 5px;
    background-color: rgba(228, 198, 99, 0.721);
    color: rgb(20, 17, 46);
}
